# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Docker
*.log
*.env
*.dockerignore

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log